<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
    <div class="wrapper">
      <header class="wrapper-container">
        <h1>Arena wojowników</h1>
        <ul class="list-container">
          <li><a href="/warrior/add-form">Rejestracja wojownika</a></li>
          <li><a href="/arena/fight-form">Arena walk</a></li>
          <li><a href="/hall-of-fame/list">Sala sław</a></li>
        </ul>
        <hr>
      </header>
    {{{body}}}
    </div>
  </body>
</html>
